* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasDisplay-MediumItalic.eot');
    src: url('../fonts/NeueHaasDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-MediumItalic.woff2') format('woff2'),
        url('../fonts/NeueHaasDisplay-MediumItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-MediumItalic.ttf') format('truetype'),
        url('../fonts/NeueHaasDisplay-MediumItalic.svg#NeueHaasDisplay-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasDisplay-Mediu.eot');
    src: url('../fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('../fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Mediu.ttf') format('truetype'),
        url('../fonts/NeueHaasDisplay-Mediu.svg#NeueHaasDisplay-Mediu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-BoldItalic.eot');
    src: url('../fonts/JetBrainsMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-BoldItalic.woff') format('woff'),
        url('../fonts/JetBrainsMono-BoldItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-BoldItalic.svg#JetBrainsMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Bold.eot');
    src: url('../fonts/JetBrainsMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-Bold.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Bold.woff') format('woff'),
        url('../fonts/JetBrainsMono-Bold.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Bold.svg#JetBrainsMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-ExtraBold.eot');
    src: url('../fonts/JetBrainsMono-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-ExtraBold.woff') format('woff'),
        url('../fonts/JetBrainsMono-ExtraBold.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-ExtraBold.svg#JetBrainsMono-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-ExtraLight.eot');
    src: url('../fonts/JetBrainsMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-ExtraLight.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-ExtraLight.woff') format('woff'),
        url('../fonts/JetBrainsMono-ExtraLight.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-ExtraLight.svg#JetBrainsMono-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Italic.eot');
    src: url('../fonts/JetBrainsMono-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-Italic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Italic.woff') format('woff'),
        url('../fonts/JetBrainsMono-Italic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Italic.svg#JetBrainsMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-ExtraBoldItalic.eot');
    src: url('../fonts/JetBrainsMono-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-ExtraBoldItalic.svg#JetBrainsMono-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Light.eot');
    src: url('../fonts/JetBrainsMono-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-Light.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Light.woff') format('woff'),
        url('../fonts/JetBrainsMono-Light.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Light.svg#JetBrainsMono-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-ExtraLightItalic.eot');
    src: url('../fonts/JetBrainsMono-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-ExtraLightItalic.woff') format('woff'),
        url('../fonts/JetBrainsMono-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-ExtraLightItalic.svg#JetBrainsMono-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Regular.eot');
    src: url('../fonts/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Regular.woff') format('woff'),
        url('../fonts/JetBrainsMono-Regular.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-MediumItalic.eot');
    src: url('../fonts/JetBrainsMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-MediumItalic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-MediumItalic.woff') format('woff'),
        url('../fonts/JetBrainsMono-MediumItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-MediumItalic.svg#JetBrainsMono-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-LightItalic.eot');
    src: url('../fonts/JetBrainsMono-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-LightItalic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-LightItalic.woff') format('woff'),
        url('../fonts/JetBrainsMono-LightItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-LightItalic.svg#JetBrainsMono-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Medium.eot');
    src: url('../fonts/JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-Medium.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Medium.woff') format('woff'),
        url('../fonts/JetBrainsMono-Medium.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Medium.svg#JetBrainsMono-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-SemiBoldItalic.eot');
    src: url('../fonts/JetBrainsMono-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-SemiBoldItalic.woff') format('woff'),
        url('../fonts/JetBrainsMono-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-SemiBoldItalic.svg#JetBrainsMono-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-SemiBold.eot');
    src: url('../fonts/JetBrainsMono-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-SemiBold.woff') format('woff'),
        url('../fonts/JetBrainsMono-SemiBold.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-SemiBold.svg#JetBrainsMono-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Thin.eot');
    src: url('../fonts/JetBrainsMono-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-Thin.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Thin.woff') format('woff'),
        url('../fonts/JetBrainsMono-Thin.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Thin.svg#JetBrainsMono-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-ThinItalic.eot');
    src: url('../fonts/JetBrainsMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-ThinItalic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-ThinItalic.woff') format('woff'),
        url('../fonts/JetBrainsMono-ThinItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-ThinItalic.svg#JetBrainsMono-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    margin-right: 0px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    background-color: #000;
    padding: 1.771636106vw;
    padding-top: 4.232143384vw;
}

body img {
    width: 100%;
    margin-bottom: 4.232143384vw;
}

body div.textos {
    width: 74.311231515%;
    margin: auto;
    float: right;
    margin-bottom: 100px;
}

body p,
input,
label,
button {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-size: 34px;
    font-weight: 500;
    color: #FFF;
    margin-top: 2px;
}

body p.importantes {
    margin-bottom: 150px;
}

body hr {
    size: 100px;
    width: 71vw;
    height: 2px;
    color: #FFF;
    background-color: #fff;
    margin: 0;
}

form {
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 190px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    border: #000;
}

button[type="submit"] {
    border: none;
    cursor: pointer;
    background-color: black;
}

button[type="submit"]:hover {
    text-decoration: underline;
}

section.form p.importantes {
    margin-bottom: 0;
}

section.form p#result {
    font-family: 'JetBrains Mono';
    font-weight: 100;
    hyphens: auto;
    word-wrap: break-word;
    margin-bottom: 100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

/*Responsive*/

@media (min-width: 1px) and (max-width: 600px) {
    body img {
        margin-bottom: 150px;
    }

    body p.importantes {
        margin-bottom: 50px;
    }
}